set timeout=0
set default=0

insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus
insmod all_video

menuentry "RatanaOS 64-bit (macOS Sequoia Edition - Full 500MB)" {
    set gfxpayload=1024x768x32,1024x768,auto
    multiboot /boot/ratanaos32.bin
    boot
}

menuentry "RatanaOS 64-bit (Safe Text Mode / Minimal)" {
    set gfxpayload=text
    multiboot /boot/ratanaos32.bin
    boot
}


menuentry "Debian GNU/Linux (Dual Boot Partition / Live Installer)" {
    insmod part_gpt
    insmod ext2
    set root='(hd0,gpt2)'
    linux /boot/vmlinuz root=/dev/sda2 ro quiet
    initrd /boot/initrd.img
}

if [ -f /debian/mini.iso ]; then
    menuentry "Boot Debian GNU/Linux (Embedded Netboot/Mini ISO)" {
        insmod loopback
        insmod iso9660
        loopback loop /debian/mini.iso
        linux (loop)/linux quiet
        initrd (loop)/initrd.gz
    }
fi

if [ -f /debian.iso ]; then
    menuentry "Boot Debian GNU/Linux (Embedded ISO)" {
        insmod loopback
        insmod iso9660
        loopback loop /debian.iso
        linux (loop)/install.amd/vmlinuz boot=live quiet
        initrd (loop)/install.amd/initrd.gz
    }
fi
