build/
*.bin
*.iso
*.o
*.log
.vscode/
disk.img
hello.txt
hello_linux
hello_dyn
debian-test-rootfs/
*.py
!tools/*.py
iso/ratana/
iso/system/
iso/debian/
ratanaos-live/.build/
ratanaos-live/chroot/
ratanaos-live/binary/
ratanaos-live/cache/
ratanaos-live/local/
ratanaos-live/*.iso
ratanaos-live/live-image-amd64.*
ratanaos-live/binary.*
ratanaos-live/chroot.*
*.zsync


