build/
*.bin
*.iso
*.o
*.log
.vscode/
disk.img
hello.txt
hello_linux
hello_dyn
debian-test-rootfs/
*.py
!tools/*.py
iso/ri/
iso/system/
iso/debian/
rios-live/.build/
rios-live/chroot/
rios-live/binary/
rios-live/cache/
rios-live/local/
rios-live/*.iso
rios-live/live-image-amd64.*
rios-live/binary.*
rios-live/chroot.*
*.zsync


