[Unit]
Description=RatanaOS First-Boot System Provisioning Service
After=network.target local-fs.target
Before=display-manager.service
ConditionPathExists=!/var/lib/ratanaos/.first-boot-done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ratana-first-boot
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
