[Desktop Entry]
Type=Application
Version=1.0
Name=Install RatanaOS
GenericName=Live Installer
Comment=Install RatanaOS permanently to your drive
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;
StartupNotify=true
