set menu_color_normal=white/black
set menu_color_highlight=green/black
if background_image /boot/grub/splash.png; then
  set color_normal=white/black
  set color_highlight=green/black
else
  set menu_color_normal=green/black
  set menu_color_highlight=white/black
fi

menuentry "Start RatanaOS Cyber Edition Live" {
    linux /live/vmlinuz boot=live quiet splash plymouth.ignore-serial-consoles
    initrd /live/initrd.img
}
