[Desktop Entry]
Type=Application
Version=1.0
Name=Install RiOS (Calamares)
GenericName=System Installer
Comment=Install RiOS with graphical Calamares installer
Exec=calamares
Icon=ri-installer
Terminal=false
Categories=System;Settings;
StartupNotify=true
